.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 2rem;
  background-color:powderblue;
  color:midnightblue;
}

.boton-accionar {
  background-color:lawngreen;
  color: black;
  border-radius: 10px ;
  padding: 2mm;
}

.boton-reiniciar {
  background-color:red;
  color: #fff;
  border-radius: 10px ;
  padding: 2mm;
}